# lets import some libs to work with
### heres some information for each of them
##### i use pandas to analzsis

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/athletes_details.csv')
sport_df = pd.read_csv('../data/sports_scored.csv')

In [3]:
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,191.0,85.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135572,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN
271116,135573,Pusarla Venkata Sindhu,F,21.0,179.0,65.0,India,IND,2016 Summer,2016,Summer,Rio de Janeiro,Badminton,Badminton Women's,Silver
271117,135574,Pusarla Venkata Sindhu,NaN,25.0,179.0,65.0,India,IND,2020 Summer,2020,Summer,Tokyo,Badminton,Badminton Women's,Bronze

In [4]:
df = df.dropna(subset=['Sex', 'Age' , 'Height', 'Weight'])

In [5]:
name = df['Sport'].unique()
print(name)
num_sports = np.size(name)
print(num_sports)

['Basketball' 'Judo' 'Football' 'Speed Skating' 'Cross Country Skiing'
 'Ice Hockey' 'Badminton' 'Sailing' 'Biathlon' 'Gymnastics' 'Athletics'
 'Alpine Skiing' 'Weightlifting' 'Wrestling' 'Luge' 'Rowing' 'Bobsleigh'
 'Swimming' 'Equestrianism' 'Shooting' 'Taekwondo' 'Boxing' 'Fencing'
 'Diving' 'Canoeing' 'Handball' 'Water Polo' 'Tennis' 'Cycling' 'Hockey'
 'Figure Skating' 'Softball' 'Archery' 'Volleyball'
 'Synchronized Swimming' 'Modern Pentathlon' 'Table Tennis'
 'Nordic Combined' 'Baseball' 'Rhythmic Gymnastics' 'Freestyle Skiing'
 'Rugby Sevens' 'Trampolining' 'Beach Volleyball' 'Triathlon'
 'Ski Jumping' 'Curling' 'Golf' 'Snowboarding' 'Short Track Speed Skating'
 'Skeleton' 'Rugby' 'Tug-Of-War' 'Art Competitions' 'Lacrosse'
 'Motorboating']
56

In [6]:
sport_df_rank = sport_df[['Sport', 'Rank']].rename(columns={'Rank': 'Sport_Rank'})
merged_df = pd.merge(df,sport_df_rank , on='Sport', how='inner')
merged_df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Sport_Rank
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,4
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,18
2,3,Gunnar Nielsen Aaby,M,24.0,191.0,85.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,12
3,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,20
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206162,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,31
206163,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,31
206164,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN,9
206165,135572,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN,9
206166,135573,Pusarla Venkata Sindhu,F,21.0,179.0,65.0,India,IND,2016 Summer,2016,Summer,Rio de Janeiro,Badminton,Badminton Women's,Silver,11

In [7]:
first_medal_year = {}

# Initialize the column
merged_df['Has_Previous_Medal'] = False

# Iterate through rows
for i, row in merged_df.iterrows():
    name = row['Name']
    year = row['Year']
    
    # Check if athlete has won a medal before this year
    if name in first_medal_year and year > first_medal_year[name]:
        merged_df.at[i, 'Has_Previous_Medal'] = True
    
    # Update the first medal year if this row has a medal
    if pd.notnull(row['Medal']):
        if name not in first_medal_year:
            first_medal_year[name] = year

# Save to CSV
merged_df.to_csv('../data/athletes_sport_details.csv', index=False)

merged_df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Sport_Rank,Has_Previous_Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,4,False
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,18,False
2,3,Gunnar Nielsen Aaby,M,24.0,191.0,85.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,12,False
3,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,20,False
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,20,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206162,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,31,False
206163,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,31,False
206164,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN,9,False
206165,135572,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN,9,False
206166,135573,Pusarla Venkata Sindhu,F,21.0,179.0,65.0,India,IND,2016 Summer,2016,Summer,Rio de Janeiro,Badminton,Badminton Women's,Silver,11,False